package ${ctx.domain.basePackage}.${ctx.genConfig.params.package};

import cn.virit.common.base.IRepository;
#set($entityClass = $ctx.domain.basePackage + '.' + $ctx.genConfigs.getTemplates().get('entity').getParams().get(
  'package') + '.' + $ctx.model.name)
${ctx.utils.imports($mapperClass, $entityClass, $superClass)}
/**
* ${ctx.model.name}Repository
*/
public interface ${ctx.model.name}Repository extends IRepository<$ctx.utils.simpleClassName($entityClass)> {
}